= @cabels.size
%table.table.table-bordered.table-striped
  %thead
    %tr
      %th= sort_link @search, :id, ::Inventory::Tcabel::Cabel.human_attribute_name(:id)
      %th= sort_link @search, :inumber, ::Inventory::Tcabel::Cabel.human_attribute_name(:inumber)
      %th= sort_link @search, :length, ::Inventory::Tcabel::Cabel.human_attribute_name(:length)
      %th= sort_link @search, :state, ::Inventory::Tcabel::Cabel.human_attribute_name(:state)
      %th
  %tbody
    - if @cabels.size > 0
      - @cabels.each do |i|
        %tr
          %td= i.id
          %td= i.inumber
          %td= i.length
          %td= i.state
          %td
            -#= link_to t('web.admin.edit'),  edit_tcabel_cabel_path(value, i, :from_url => from_url)
    - else
      %tr
        %td{:colspan => 5, :style => 'text-align: center;'}= 'Ничего не найдено.'

