%p.slide
  = link_to t('web.admin.new'), new_cabel_path, :class => 'btn btn-primary'
  = link_to 'Фильтр', '#filter', :rel => 'filter', :class => 'btn btn-success btn-slide'

.filter

  = simple_form_for(:search,
                      :url => cabels_path,
                      :method => :get,
                      :html => {:id => 'pprf'})  do |f|

    %table{:cellspacing => 0, :cellpadding => 0, :class => 'filter-table'}
      %tr
        %td
          .form-line
            = f.input :created_at_less_than_or_equal_to, :required => false, :label => ::Inventory::Tcabel::Cabel.human_attribute_name(:created_at), :input_html => {:class => "ui_datepicker", :autocomplete => 'off'}
        %td
          .form-line
            = f.input :inumber_like, :required => false, :label => ::Inventory::Tcabel::Cabel.human_attribute_name(:inumber)
        %td
          .form-line
            = f.input :state_equals, :collection => ::Inventory::Tcabel.new.state_paths.to_states, :required => false, :label => ::Inventory::Tcabel::Cabel.human_attribute_name(:state)
        %td
          .form-line
            = f.input :tcabel_id_equals, :collection => ::Inventory::Tcabel.active, :required => false, :label => ::Inventory::Tcabel::Cabel.human_attribute_name(:tcabel), :include_blank => true

      %tr
        %td{:colspan => 3, :align => :left}
          = link_to 'Очистить фильтр', cabels_path, :type => "reset"
        %td
          = f.submit '', :class => 'search-button link'

= link_to '', '#', :class => 'arrow'