- content_for :back  do
  = link_to 'Назад', dmovings_path, :type => "reset"

- if value.created_at
  - content_for :title  do
    = 'ID:'
    = value.dev_id
    = ', '
    =l value.created_at, :format => "%d.%m.%Y"

-#= render 'shared/admin/error_messages', :errors => value.errors

%br
-#= render 'web/admin/dmovings/devs/devs',
  :array => value,
  :from_url => from_url


= simple_form_for(value, :url => url) do |f|
  -#.form-line
    = f.association :house, :include_blank => false, :input_html => { :id => 'LoginForm_login'}
  .form-line
    = f.association :dev, :include_blank => true, :required => false, :input_html => { :id => 'LoginForm_login'}
  .form-line
    = f.input :nod_from, :collection => ::Inventory::Node.active, :include_blank => true, :required => false, :input_html => { :id => 'LoginForm_login', :min => 0}
  .form-line
    = f.input :nod_to, :collection => ::Inventory::Node.active, :include_blank => true, :required => false, :input_html => { :id => 'LoginForm_login', :min => 0}
  %br
  %br
  .form-line
    = f.input :comment, :as => :ckeditor,  :input_html => { :id => 'LoginForm_login', :min => 0}

  %br
  = f.submit message, :class => 'btn btn-small btn-danger'