= link_to '', '#ppr-users', :class => 'modal_close', :title => 'Закрыть'
%br
= simple_form_for :users, :url => ppr_users_path(array), :html => {:id => 'float_form'} do |f|
  .content-data
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th= check_box_tag 'check_all'
          %th= 'Логин'
          %th= 'Имя'
      %tbody
        - users.each do |i|
          %tr
            %td{:width => 20}= check_box_tag "item_#{i.id}", i.id
            %td= i.login
            %td= i.fullname
  %br
  %br
  = f.submit 'Добавить', :class => 'btn btn-small btn-danger', :style => 'margin-left:45%;'