- dis = (defined? disabled) ? disabled : 0

- content_for :back  do
  = link_to 'Назад', tcabels_path, :type => "reset"

- content_for :title  do
  = value.name

%br

= simple_form_for(value, :url => url, :html => {:rel => "form2Disable"}) do |f|
  .form-line
    = f.input :name, :required => false, :input_html => { :id => 'LoginForm_login'}
  .form-line
    = f.input :prefix, :required => false, :input_html => { :id => 'LoginForm_login'}
  .form-line
    = f.input :order, :input_html => { :id => 'LoginForm_login', :min => 0}
  .form-line
    = f.input :state, :as => :state_select_via_transition, :input_html => { :id => 'LoginForm_login'}

  - if dis == 0
    %br
      = f.submit t('web.admin.save'), :class => 'btn btn-small btn-danger'

:javascript
  disableForm("#{dis}");

